{% extends "base.html" %}

{% block title %}TexasHoldem{% endblock %}

{% block css %}
<link rel="stylesheet"
      href="/static/pages/game.css">
{% endblock %}

{% block content %}
<div id="texas_game">
    <div class="game-container">
        <div class="table-container">
            <div v-for="(player,index) in gameInfo.players" v-if="player" :class="[{'hightlight': gameInfo.active_player_pos==index}, 'table-cell', 'cell'+index]">
                <!-- <div :class="[{'hightlight': gameInfo.active_player_pos==index}, 'in-turn']"> -->
                <div class="in-turn">
                    <!-- <p>[[index]]</p> -->
                    <p class="cell-row"> <span>name</span>: <span>[[player.name]]</span> </p>
                    <p class="cell-row"> <span>status</span>: <span>[[player.status]]</span> </p>
                    <p class="cell-row"> <span>当前押注</span>: <span>[[player.cur_bet]]</span> </p>
                    <p class="cell-row"> <span>剩余筹码</span>: <span>[[player.money]]</span> </p>
                </div>
            </div>
            <div class="poker-container">
                <span class="poker" v-for="poker in gameInfo.community_cards">[[poker]]</span>
            </div>
        </div>
        <div class="info-container">
            <p v-for="info in gameInfo.log">[[info]]</p>
        </div>
        <div :class="[{'hightlight': isTurn}, 'player-info']">
            <div>
                <p> <span>当前押注</span>: <span>[[curPlayer.cur_bet]]</span> </p>
                <p> <span>手牌1</span>: <span>[[curPlayer.first_hole]]</span> </p>
                <p> <span>手牌2</span>: <span>[[curPlayer.second_hole]]</span> </p>
                <p> <span>筹码</span>: <span>[[curPlayer.money]]</span> </p>
                <p> <span>最大牌型</span>: <span>[[curPlayer.best_hand_value]]</span> </p>
                <p> <span>筹码</span>: <span>[[curPlayer.money]]</span> </p>
                <div class="operater-container">
                    <el-button @click="startGame" v-if="gameInfo.status=='init' && curPlayer.host" style="width:80px">start</el-button>
                    <el-button @click="call" :disabled="!isTurn">call</el-button>
                    <el-button @click="check" :disabled="!isTurn">check</el-button>
                    <el-button @click="fold" :disabled="!isTurn">fold</el-button>
                    <el-input v-model="raiseMoney" class="raise-input">
                        <el-button @click="raise" slot="append" :disabled="!isTurn">raise</el-button>
                    </el-input>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script src="/static/pages/game.js"></script>
{% endblock %}